<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Наши товары</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Наши товары</h1>
    <div th:each="el : ${products}" class="alert alert-info mt-2">
        <p><b>Бренд:</b> <span th:text="${el.brand}"/></p>
        <p><b>Модель:</b> <span th:text="${el.productModel}"/></p>
        <p><b>Цена:</b> <span th:text="${el.weight}"/> ₽</p>

        <a th:href="'/product/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
</div>


</body>
</html>